

/* INDEX */

:root {
    --charcoal: #364652;
    --metal: #1F2C2D;
    --night: #071108;
    --onyx: #353937;
    --gray: #636165;
    --thistle: #BFB1C1;
    --pinkgray: #BAB8C4;
    --gray: #B5BEC6;
    --blue: #C7DBE6;
  }

html {
    width: 70%;
    
}


.title_description div {
   
    margin: 0rem auto;
    padding-top: 1rem;
    text-align: center;
    
}

body, html {
    margin:  0 auto;
    padding: 0;
    /* box-sizing: border-box; */
    
}


.container {
    display: flex; 
    justify-content: center; 
    align-items: center; 
    background-color: #071108;
}


.boxes {
    display: flex; 
    justify-content: center;
    
}


.box {
    width: 30%; 
    height: auto; 
    
    max-height: 200px;
    background-color: #ffffff; 
    
    margin: 1.5rem 1rem ; 
    justify-content: center;

}



.options {
    display: flex;
    justify-content: center;
    background-color: var(--pinkgray);
}

.option {
    margin: 0.5rem 0;
    padding: 1rem 1.5rem;
    border-right: 1px solid #ccc; 
    border-left: 1px solid #ccc;
    
}

main {
    width: 100%;
    margin: auto;
}


.suboptions  {
    display: flex;
    justify-content: center;
    background-color: var(--blue);
}

.suboption {
    margin: 0.5rem 0;
    padding: 1rem 1.5rem;
    border-right: 1px solid #ccc; 
    border-left: 1px solid #ccc;
    
}


#log_reg {
    justify-content: center;
    display: flex;
}

#log_reg a div {
    text-align: center;
    padding: 0.5rem 1rem; 
    border: 1px solid #ccc; 
    margin: 0 1rem;

}

#login_suboptions {
    display: block;
    padding: 0.5rem 35%;
    
    
}

#login_form, #reg_form, form .form-group{

    margin-top: 0.5rem;
}

#msg {
    text-align: center;
    padding: 0rem 0.5rem;
    background-color: lemonchiffon;
}

.error p{
    margin-bottom: 0rem;
    color:darkred;
    font-weight: bold;
}

.img img {
    width: 100%; 
    height: 15rem; 
    object-fit: cover; 
    object-position: center; 
    
}

.box .price {
    font-weight: bold;
    font-size: 1.5rem;
    margin:  0.1rem 0rem;
}

.box .text {
    text-align: justify;
    margin: 0.1rem 0rem  ;
}

.box .type {
    background-color: rgb(253, 255, 193);
    
    padding: 0rem 1rem;
    font-size: 110%;
    width: fit-content;
    
}













/* SEARCH */

/* Styles for the price input container */

.search{
    padding: 1rem;
    background-color: #fdfdd8;
}

.search_subtitle {
    margin: 0.5rem 0rem;
}

.search form div {
    margin: 1rem 0rem;
}


.price-input .price-field { 
	display: flex; 
	margin-bottom: 1rem; 
    width: 50%;
} 

.price-field span { 
	margin-right: 1rem; 
	margin-top: 0.5rem; 
	
} 

.price-field input { 
    appearance:unset;
	width: 6rem;
	height: 2rem; 
	border-radius: 1rem; 
	text-align: center; 
	border: 0px; 
	background: #e4e4e4; 
} 

#bed_dropdown_div, .price-input {
 width: 50%;
}

#bed_dropdown {
    width: 4rem;
}



.price-input { 
	 
    display: flex;
} 

/* Remove Arrows/Spinners */
input::-webkit-outer-spin-button, 
input::-webkit-inner-spin-button { 
	-webkit-appearance: none; 
	margin: 0; 
} 

.search_dates {
    display: flex;
   
}
#start_date_div, #min_price_div {
    padding-right: 1rem;
    
}

#start_date_div, #end_date_div, #min_price_div, #max_price_div {
    margin: 0rem;
}

.search_dates {
    width: 50%;
}

.boxes_search {
    border-bottom: 5px solid rgb(230, 230, 230);
    margin: 1rem auto;
}

.search_results_row {
    margin-bottom: 1rem;;
}

.search_results_row {
    display: flex;
}

.main_photo_search{
    width: 30%;
}

.main_photo_search img {
    width: 20rem; 
    height: 13rem; 
    object-fit: cover; 
    object-position: center; 
}

.box_search {
    margin: 0rem 0.5rem ;
}

.price_search {
    font-weight: bold;
    font-size: 1.5rem;
    background-color: #e6fae4;
    width: fit-content;
    padding: 0rem 0.5rem;
}

#search_results{
    margin: 1rem 0rem;
    font-size: 1.5rem;
    font-weight: bold;
}

.errors_search {
    margin: 1rem 0rem;
    font-size: 1.2rem;
    color: #bf785a;
    font-weight: bold;
}




/* INDEX-EDIT */
#index_edit div, .changed_msg{
    margin: 1rem 0rem;

}





/* TESTIMONIALS */
#reviews .review {
    margin: 1rem auto;    
    background-color: #f5ffee;
}

.review .name_date_review {
    display: flex;
    padding: 1rem;
    border-bottom: 1px solid rgb(230, 230, 230);
}

.name, .date {
    width: 50%;
}

.date {
    text-align: right;
    font-weight: bold;
    margin-top: auto;
    
}

.name {
    font-weight: bold;
    font-size: 1.5rem;
}

#reviews_subtitle {
    margin: 1rem 0rem;
    font-weight: bold;
    font-size: 1.5rem;
    color: rgb(160, 160, 160);
}

.text_review {
    padding: 1rem;
}







/* ADVERTS */ 

.ad-container {
    position: fixed;
    top: 30%;
    right: 0;
    width: 300px;
    height: 100%;
    padding: 20px;
    z-index: 999;
}

.main_ad {
    width: 100%; /* Make the .main_photo_search div fill the width of the .ad-container div */
}

.main_ad img {
    width: 100%; /* Stretch the image to fill the width of its parent container */
    height: auto; /* Maintain aspect ratio */
    display: block;
}









